{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>

<!-- Add reply options in Portuguese -->
<p>
  Responda via: 
  {{ with .Site.Params.author.email }}
  <a href='mailto:{{ . }}?subject=Re: "{{ default $.Site.Title $.Page.Title }}"'>Email</a>
  {{ end }}
  {{ with .Site.Params.author.mastodon }} · 
  <a href="{{ . }}" rel="me">Mastodon</a>
  {{ end }}
  {{ with .Site.Params.author.bluesky }} · 
  <a href="{{ . }}">Bluesky</a>
  {{ end }}
</p>
{{ end }}